<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>RestoApps</title>

  <link rel="icon" href="./favicon.png" type="image/x-icon">
  <meta name="description" content="Restaurant Apps for you">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="manifest" href="./app.webmanifest">
  <meta name="theme-color" content="#CEDEBD" />
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

  <a href="#main-content" class="skip-link" id="SkiptoContent">Skip to Content</a>

  <div class="navbar">
    <a href="#" class="navbar-logo" tabindex="-1">Resto<span>Apps.</span></a>
    <button class="hamburger" id="hamburgerButton"><i class="fa fa-bars" aria-hidden="true"></i></button>
    <nav class="nav" id="navigationDrawer" tabindex="-1">
      <ul class="nav_list">
        <li class="nav_item"><a href="#/">Home</a></li>
        <li class="nav_item"><a href="#/like">Favorite</a></li>
        <li class="nav_item"><a href="https://github.com/faithprayer?tab=repositories">About Us</a></li>
      </ul>
    </nav>
  </div>

  <div class="hero" id="home">
    <header class="header" tabindex="-1">
      <h1 class="header_title" tabindex="-1">
        Resto<span>Apps.</span></i></h1>
      <p tabindex="-1">An Application That Assists You In Finding Information About Restaurants Around You.</p>
    </header>
  </div>

  <main id="main-content" tabindex="0">
    <section class="content" tabindex="-1">
      <div class="explore">

        <div class="detailContent">
          

        </div>

      </div>
    </section>
  </main>

  <footer>
    <div class="aboutLink">
      <a href="https://github.com/faithprayer?tab=repositories"><i class="fa-brands fa-github fa-xl"></i></a>
      <a href="https://www.linkedin.com/in/prayer-kaawoan"><i class="fa-brands fa-linkedin fa-xl"></i></a>
    </div>
    <div class="credit">
      <p>Created by Prayer Faith Kaawoan. | &copy: 2023.</p>
    </div>
  </footer>

</body>

</html>